<%= form_for(tester) do |f| %>
  <% if tester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tester.errors.count, "error") %> prohibited this tester from being saved:</h2>

      <ul>
      <% tester.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :add_time %>
    <%= f.datetime_select :add_time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
